## Optimize the Model

In [8]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [9]:
# Drop the non-beneficial  columns
application_df = application_df.drop(["EIN"], axis=1)
application_df = application_df.drop(["STATUS"], axis=1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"], axis=1)

In [11]:
# display the number of unique values

application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [14]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()

#  How many name counts are greater than 5?
name_counts[name_counts>5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [17]:
# Determine which values to replace if counts are less than or equal to 5.


# Choose a cutoff value and create a list of anames to be replaced
# use the variable name `anames_to_replace`
#  YOUR CODE GOES HERE
names_to_replace = list(name_counts[name_counts<5].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [20]:
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [23]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

classifications_to_replace = ["C7000","C1700","C4000","C5000","C1270","C2700","C2800","C7100","C1300","C1280",
"C1230","C1400","C7200","C2300","C1240","C8000","C7120","C1500","C1800","C6000",
"C1250","C8200","C1238","C1278","C1235","C1237","C7210","C2400","C1720","C4100","C1257",
"C1600","C1260","C2710","C0","C3200","C1234","C1246","C1267","C1256","C1370",
"C1236","C2190","C4200","C5200","C1248","C2600","C1580","C6100","C1820",
"C1900","C2570","C1570","C3700","C2500","C1283","C2380","C1732","C1728","C2170",
"C4120","C8210","C4500","C1245","C2561","C2150"]


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [27]:
# Generate our categorical variable lists
application_categories = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_categories

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [28]:
# perform one-hot encoding on the data
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df)

application_dummies.head()

   ASK_AMT  IS_SUCCESSFUL  ...  INCOME_AMT_50M+  INCOME_AMT_5M-10M
0     5000              1  ...                0                  0
1   108590              1  ...                0                  0
2     5000              0  ...                0                  0
3     6692              1  ...                0                  0
4   142590              1  ...                0                  0

[5 rows x 444 columns]

In [29]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_dummies.drop(["IS_SUCCESSFUL"], axis=1).values
y = application_dummies["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [30]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [31]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               44400

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 47,751
Trainable params: 47,751
Non-trainable params: 0
_________________________________________________________________

In [32]:
 #Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [33]:

#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4921 - accuracy: 0.7731
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4391 - accuracy: 0.7947
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4320 - accuracy: 0.7955
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4268 - accuracy: 0.7977
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4247 - accuracy: 0.7990
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4220 - accuracy: 0.7994
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4211 - accuracy: 0.7993
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4192 - accuracy: 0.8009
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.8004
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.8012
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.8012
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.8012
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.8016
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4143 - accuracy: 0.8018
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4139 - accuracy: 0.8028
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4133 - accuracy: 0.8024
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4125 - accuracy: 0.8039
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8032
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8036
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8045
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4105 - accuracy: 0.8047
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4100 - accuracy: 0.8056
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4096 - accuracy: 0.8049
Epoch 24/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4085 - accuracy: 0.8044
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4089 - accuracy: 0.8046
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4079 - accuracy: 0.8045
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4077 - accuracy: 0.8056
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4070 - accuracy: 0.8057
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4066 - accuracy: 0.8063
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4070 - accuracy: 0.8045
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4061 - accuracy: 0.8059
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4056 - accuracy: 0.8070
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4055 - accuracy: 0.8057
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8066
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8060
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8071
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8075
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8074
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4038 - accuracy: 0.8078
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8071
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8077
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8075
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8076
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8080
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8075
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8082
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8084
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8081
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8075
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8085
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4016 - accuracy: 0.8082
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4017 - accuracy: 0.8087
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8085
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4012 - accuracy: 0.8087
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4011 - accuracy: 0.8084
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4008 - accuracy: 0.8093
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4005 - accuracy: 0.8091
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4004 - accuracy: 0.8091
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4001 - accuracy: 0.8096
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4003 - accuracy: 0.8094
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4002 - accuracy: 0.8082
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3999 - accuracy: 0.8090
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4002 - accuracy: 0.8093
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4003 - accuracy: 0.8093
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3997 - accuracy: 0.8090
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3999 - accuracy: 0.8098
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3997 - accuracy: 0.8088
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8091
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8089
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8101
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3990 - accuracy: 0.8084
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3995 - accuracy: 0.8095
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3993 - accuracy: 0.8084
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3990 - accuracy: 0.8097
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3989 - accuracy: 0.8091
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3987 - accuracy: 0.8098
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3988 - accuracy: 0.8103
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3986 - accuracy: 0.8099
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3994 - accuracy: 0.8090
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3990 - accuracy: 0.8090
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3990 - accuracy: 0.8097
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3986 - accuracy: 0.8101
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3985 - accuracy: 0.8096
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8099
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3985 - accuracy: 0.8105
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8101
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3981 - accuracy: 0.8102
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8100
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3977 - accuracy: 0.8084
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3980 - accuracy: 0.8095
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3982 - accuracy: 0.8104
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3982 - accuracy: 0.8101
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3987 - accuracy: 0.8107
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3979 - accuracy: 0.8099
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3978 - accuracy: 0.8102
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3976 - accuracy: 0.8107
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3979 - accuracy: 0.8111
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3982 - accuracy: 0.8102
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.3977 - accuracy: 0.8107
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.3977 - accuracy: 0.8104

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4566 - accuracy: 0.7910 - 513ms/epoch - 2ms/step
Loss: 0.4565500020980835, Accuracy: 0.791020393371582

In [37]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [35]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [38]:
# Create a random forest classifier.
random_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
random_model = random_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = random_model.predict(X_test_scaled)
print(f"Random Forest Model Accuracy - {accuracy_score(y_test, y_pred)*100:.2f}")

Random Forest Model Accuracy - 77.22