## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [5]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

classifications_to_replace = ["C7000","C1700","C4000","C5000","C1270","C2700","C2800","C7100","C1300","C1280",
"C1230","C1400","C7200","C2300","C1240","C8000","C7120","C1500","C1800","C6000",
"C1250","C8200","C1238","C1278","C1235","C1237","C7210","C2400","C1720","C4100","C1257",
"C1600","C1260","C2710","C0","C3200","C1234","C1246","C1267","C1256","C1370",
"C1236","C2190","C4200","C5200","C1248","C2600","C1580","C6100","C1820",
"C1900","C2570","C1570","C3700","C2500","C1283","C2380","C1732","C1728","C2170",
"C4120","C8210","C4500","C1245","C2561","C2150"]


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df)

application_dummies.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 44 columns]

In [15]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_dummies.drop(["IS_SUCCESSFUL"], axis=1).values
y = application_dummies["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

number_of_input_features = len(X_train[0])
layer1Nodes = 80
layer2Nodes = 30


nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=layer1Nodes, input_dim=number_of_input_features, activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=layer2Nodes, input_dim=layer1Nodes, activation='relu'))


# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, input_dim=layer2Nodes, activation='sigmoid'))


# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5757 - accuracy: 0.7192
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5584 - accuracy: 0.7252
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5558 - accuracy: 0.7278
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7292
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7286
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5516 - accuracy: 0.7302
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7306
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7304
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7301
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7306
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7320
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7311
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7304
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5476 - accuracy: 0.7319
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5466 - accuracy: 0.7320
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7318
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7338
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7331
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7325
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7332
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7329
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7336
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7336
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7331
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7334
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7341
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5429 - accuracy: 0.7346
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5435 - accuracy: 0.7347
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7349
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7345
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7358
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7334
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7343
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7350
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7347
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7350
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7354
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7358
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7354
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7350
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7354
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7353
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7348
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7362
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7353
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7353
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7355
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7371
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7361
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7358
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7360
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7360
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7364
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7358
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7362
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7361
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7366
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7354
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7365
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7364
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7367
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7369
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7370
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7374
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7372
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7365
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7374
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7372
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7370
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7372
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7372
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7369
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7376
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7365
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7369
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7373
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7371
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7365
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7383
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7380
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7374
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7366
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7367
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7366
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7381
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7377
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7375
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7372

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5553 - accuracy: 0.7369 - 414ms/epoch - 2ms/step
Loss: 0.555289626121521, Accuracy: 0.7369096279144287

In [22]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")